<!--The content below is only a placeholder and can be replaced.-->

<!--
<h1> Internet Bank Angular </h1>
<button mat-button (click)="openDialog()">Open dialog</button>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-header></app-header>
    </div>
    <div class="col-sm">
      <app-content></app-content>
    </div>
    <div class="col-sm">
      <app-footer></app-footer>
    </div>
  </div>
</div>
-->

<!--
<h1> Internet Bank Angular </h1>
<button mat-button (click)="openDialog()">Open dialog</button>
<div class="container">
  <div class="row">
    <app-header></app-header>
    <app-content></app-content>
    <app-footer></app-footer>
  </div>
</div>
-->
<!--
<app-header></app-header>
<app-content></app-content>
<app-footer></app-footer>
-->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>